@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
.godfather{
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .title_row{
            display: flex;
            .title {
                font-size: 26px;
                margin-right: 20px;
            }
            .btn {
                background-color: rgba(115, 5, 158, 0.788);
            }
        }
        
        .content_game {
            margin-top: 10px;
            .timer {
                font-size: 40px;
            }
        }
        .weapons {
            margin-top: 15px;
            display: flex;
            justify-content: center;
            .item {
                width: 120px;
            }
        }
        .weapon_btn {
            cursor: pointer;
            background-color: transparent;
            border: none;
            &:focus {
                outline: none;
                // background-color: #fff;
            }
        }
        
        .result {
            margin-top: 30px;
            font-size: 24px;
        }
    }
}




