/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
* {
    box-sizing: border-box;
  }

  ul {
    margin: 0;
    padding: 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
=======
// html {
//     background-color: black;
// }
>>>>>>> c37e3c3ae1064a214a6526b24fe67bf5dfb82850
